@import "../abstracts/variables";

.page__wrapper {
  display: flex;
  justify-content: center;
}

.page__container {
  display: flex;
  flex-direction: column;
  flex-basis: 1200px;
  shrink: 1;
  padding: 2rem;
}

.page__center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 130px);
}

.page__header {
  color: $off-white;
  font-weight: 400;
}

