@import "../abstracts/mixins";
@import "../abstracts/variables";

.post {

 &__info{
   width: 300px;
   height:300px;
   flex-basis: 400px;
   max-width: 300px;
   min-height: 300px;
   margin-bottom: 20px;
   flex-grow: 1;
   flex-shrink: 1;
   margin-right: 30px;
   margin-bottom: 30px;
 }

  &__title{
    font-family: 'Merriweather', 'Georgia', serif;
    font-size: 2rem;
    font-weight: 400;
    color: #253C64;
    padding: 3rem 2rem 1.8rem 2rem;
  }

  &__label {
    font-family: 'Merriweather', 'Georgia', serif;
    font-size: 1.3rem;
    margin: 0 2rem 3rem 2rem;
  }

  &__card {
    @include box-shadow;
  }

  &__des {
    margin: 0 2rem;
  }

}

