@import "../abstracts/mixins";
@import "../abstracts/variables";

.post {

  &__image {
    width: 300px;
    height: 200px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
  }

 &__info{
   width: 300px;
   height:300px;
   flex-basis: 400px;
   max-width: 300px;
   min-height: 300px;
   margin-bottom: 20px;
   flex-grow: 1;
   flex-shrink: 1;
   margin-right: 30px;
   margin-bottom: 30px;
   cursor: zoom-in;
 }

  &__title{
    font-family: 'Merriweather', 'Georgia', serif;
    font-size: 2rem;
    font-weight: 400;
    color: #253C64;
    padding-bottom: 2rem;
  }

  &__label {
    font-family: 'Merriweather', 'Georgia', serif;
    font-size: 1.3rem;
  }

  &__card {
    @include box-shadow;
    padding: 3rem;
  }

  &__des {
    margin-bottom: 2rem;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
  }

  &__buttons {

  }

}

.close {
  width: 20px;
  height:20px;
}

