@import "../../../styles/abstracts/variables";
@import "../../../styles/abstracts/mixins";

.thought-info {
  background-color: $post-thought;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
