@import "../../abstracts/variables";

.page-wrapper {
  display: flex;
  justify-content: center;
}

.page-container {
  display: flex;
  flex-basis: 1200px;
  shrink: 1;
  padding: 2rem;
}

.page-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 130px);
}

.page-header {
  color: $off-white;
  font-weight: 400;
}