// basic
$off-white: #FAFEFF;
$black: black;

// layout
$background-color-primary: #4A5592;
$background-color-secondary: #5264BE;
$menu-color: #63FFD6;
$window-color: #FFFAF2;
$border-color-primary: #4A5592;
$form-color-dark: #313c6f;

// typography
$text-color-primary: #4A5592;
$link-color: #4242b1;

// button
$button-primary: #63FFD6;
$button-primary--hover: #5ce8c3;
$button-secondary: $background-color-primary;
$button-secondary--hover: #3a436f;
$button-tertairy: #313c6f;
$button-tertairy--hover: #29325b;

// cards
$user-card: #8998ea;
$project-card: #AEDBFF;

//input
$input-border: #4A5592;

//posts
$post-thought: #FFEAB8;
$post-work: #BFD7FB;
