// basic
$off-white: #FAFEFF;
$black: black;

// layout
$background-color-primary: #4A5592;
$background-color-secondary: #5264BE;
$menu-color: #63FFD6;
$window-color: #FFFAF2;
$border-color-primary: #4A5592;

// typography
$text-color-primary: #4A5592;
$link-color: #4242b1;

// button
$button-primary: #63FFD6;
$button-primary-hover: #5ce8c3;