@import "../../../../styles/abstracts/variables";


.button {
    padding: 10px 40px 10px 40px;
    background-color: $button-primary;
    font-size: 16px;
    color: $text-color-primary;
    outline: none;
    border: none;
}
.button--primary {
    color: $text-color-primary;
}


.button--primary:hover {
    background-color: $button-primary-hover;
}
