@import "../../../styles/abstracts/variables";
@import "../../../styles/abstracts/mixins";

.nav-list {
  display: flex;
  list-style: none;
  flex-flow: column nowrap;
  background-color: $menu-color;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 300px;
  padding-top: 2rem;
  transition: 0.5s;
  transition-timing: ease-out;

  &--open {
    transform: translateX(0);
  }

  &--closed {
    transform: translateX(100%);
  }

  .test {
    display: block;
  }

  @include breakpoint(screen-m) {
    flex-flow: row nowrap;
    background-color: transparent;
    position: initial;
    height: initial;
    width: initial;
    padding-top: 0;
    //transition: 0s;
    //transition-timing: none;

    &--closed {
      transform: translateX(0);
    }

    .nav-link__logout {
      display: none;
    }
  }
}

.nav-link {
  color: $black;
  text-decoration: none;
  font-size: 2.1em;

  &--is-authorised {
    //display: none;
  }

  &__padding {
    padding-left: 0;

    @include breakpoint(screen-m) {
      padding-left: 5vw;
    }
  }
}


