@import "../../../styles/abstracts/variables";
@import "../../../styles/abstracts/mixins";

.work {
  background-color: $post-work;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


