@import '../../../../styles/abstracts/variables';

.success {
    &__wrapper {
        display: flex;
        background-color: $window-color;
        flex-direction: column;
        width: 350px;
        padding: 3rem 3rem 5rem 3rem;
    }

    &__message{
        font-size: 1.8rem;
    }

    &__link {
        border-bottom: solid 0.3rem $login-link-color;
        padding-bottom: 0.1rem;
        text-decoration: none;
        margin: 0 0.3rem;
        font-weight: 500;
        color: $login-link-color;
    }
}
