@import '../../../../styles/abstracts/variables';

.success {
    &__container {
        background-color: #b2ffeb;
        width: 100%;
        padding: 1rem;
    }
    &__message {
        font-size: 1rem;
    }
    &__link {
        color: #5ce8c3;
    }
}
