@import "../../../styles/abstracts/variables";
@import "../../../styles/abstracts/mixins";

.post {
  width: 300px;
  height:300px;


  &__card {
    background-color: $post-thought;
    flex-basis: 400px;
    max-width: 300px;
    min-height: 300px;
    margin-bottom: 20px;
    flex-grow: 1;
    flex-shrink: 1;
    margin-right: 30px;
    margin-bottom: 30px;
    @include box-shadow;
  }
}

