@import '../abstracts/variables';

// Roboto
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

// Merriweather
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

html {
  font-family: 'Roboto', 'arial', sans-serif;
  font-size: 62.5%; // 1rem = 10px ( calculation 10/16 )
}

body {
  font-size: 1.6rem;
  font-family: 'Roboto', 'arial', sans-serif;
}


h1, h2, h3, h4 {
  font-family: 'Merriweather', 'Georgia', serif;
}

h1 {
  font-size: 2.25em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1em;
}

button {
  font-family: 'Merriweather', 'Georgia', serif;
  font-weight: bold;
}

.link {
  color: $link-color;
  text-decoration: none;
  margin: 0 0.5rem 0.1rem 0.5rem;
  border-bottom: solid 0.3rem $link-color;
  font-weight: 500;
}

p {
  padding: 0;
  margin:0;
}

.account__info {
  font-family: 'Merriweather', 'Georgia', serif;
  font-size: 1.8rem;
  font-weight: 300;
}

.page__header {
  color: $off-white;
  font-weight: 400;
}

.access {
  font-family: 'Merriweather', 'Georgia', serif;
  font-size: 1.5rem;
  font-weight: 500;
}
